.career {

  &__header {
    grid-area: gt;
    @include  section-title;
  }

  &__img {
    display: none;

    &__src {
      padding: 2rem 0 1rem;
      max-width: 100%;
    }

    @media (min-width: 1025px) {
      grid-area: gp;
      display: inherit;
    }

  }

  &__about {
    grid-area: ga;
    @include section-content;
    margin: auto 0;

    @media (min-width: 1025px) {
      margin: initial;
    }

    &__title {
      @include title;
    }

    &__date {
      @include subheader;
    }

  }

  &__nav {
    grid-area: gn;
    @include nav;
  }

}